.kurs-overview-polygon {
	width: 30vw;
	position: absolute;
	bottom: 0;
	left: -20vw;
}

.kurs-goals-polygon {
	width: 40vw;
	position: absolute;
	bottom: -100px;
	left: -55vw;
	transform: rotate(90deg);
}

.kurs-partners-polygon {
	width: 30vw;
	position: absolute;
	bottom: -150px;
	left: -20vw;
	transform: rotate(90deg);
}

.kurs-team-polygon {
	width: 30vw;
	position: absolute;
	bottom: 0;
	right: -20vw;
}


.kurs-footer-polygon1 {
	width: 60vw;
	position: absolute;
	bottom: 0;
	left: -5vw;
}


.kurs-footer-polygon2 {
	width: 40vw;
	position: absolute;
	bottom: 0;
	right: -5vw;
}
