.kurs-structure {
	margin: 150px 0;

	h3 {
		text-align: center;
	}

	&__step {

		&-number {
			@include font(22, 500);
			text-align: center;
			height: 40px;
			width: 40px;
			padding: 10px;
			border-radius: 50%;
			border: 2px solid $brand-blue;
			margin-right: 10px;
		}
	}

	.kurs-box {
		width: 100%;
		margin: 20px 0;

		@include md-up {
			&:not(:first-of-type):not(:last-of-type) {
				margin: 20px 40px;
			}
			min-height: 250px;
			width: calc(33% - 80px);
		}

		@include lg-up {
			width: calc(33% - 120px);
		}
	}
}
